
.admin-container {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
}

.admin-sidebar {
  background-color: #f1f5f9;
  border-right: 1px solid #dee2e6;
  padding: 20px;
  height: 100%;
}

.admin-sidebar h5 {
  color: #3f51b5;
  font-weight: bold;
}

.admin-sidebar .btn {
  background-color: #3f51b5;
  border: none;
  color: #fff;
  font-size: 16px;
}

.admin-sidebar .btn:hover {
  background-color: #303f9f;
}

.admin-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}
