{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock title %}
{% block heads %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock heads %}
{% block content %}
<div class="wrapper login-1">
    <div class="container auth-box">
        <div class="col-left">
            <div class="login-text">
                <h2>Reset Password</h2>
                <p>Remember your password?</p>
                <a class="btn" href="{{ url_for('auth.login') }}">Log In</a>
            </div>
        </div>
        <div class="col-right">
            <div class="login-form">
                <h2>Forgot Password</h2>
                <form method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        <label for="email">Email Address<span>*</span></label>
                        {{ form.email(class_="form-control", placeholder="Enter your email") }}
                        {% if form.email.errors %}
                        <ul>
                            {% for error in form.email.errors %}
                            <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>
                    <p>
                        <input type="submit" value="Send Reset Link">
                    </p>
                    <p>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <ul>
                            {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}